# 時系列（Time series）

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [2]:
%matplotlib inline

## 日付と時刻のデータ型とツール

In [5]:
from datetime import datetime
now = datetime.now()
print(type(now))
now

<class 'datetime.datetime'>

datetime.datetime(2017, 9, 24, 23, 46, 1, 561529)

In [4]:
now.year, now.month, now.day

(2017, 9, 24)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15) #引き算
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days #日付のみへ

926

In [8]:
delta.seconds #秒のみへ

56700

In [9]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12) #12日足す

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12) #24日引く

datetime.datetime(2010, 12, 14, 0, 0)

In [15]:
start + timedelta(days=3) #3日加算  daysと指定できる

datetime.datetime(2011, 1, 10, 0, 0)

In [16]:
start - timedelta(hours=3) #3時間減算　hoursの指定

datetime.datetime(2011, 1, 6, 21, 0)

## 文字列から日付への変換

In [11]:
stamp = datetime(2011, 1, 3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d') #フォーマット

'2011-01-03'

In [17]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
from dateutil.parser import parse #文字列パーサー
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [21]:
parse('6/12/2011', dayfirst=True) #日が先にくる場合

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
datestrs

['7/6/2011', '8/6/2011']

In [23]:
pd.to_datetime(datestrs)
# note: output changed (no '00:00:00' anymore)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [24]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
idx[2]

NaT

In [26]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

## 時系列の基礎

In [27]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.242696
2011-01-05   -0.473932
2011-01-07   -2.732480
2011-01-08   -1.157207
2011-01-10   -1.037200
2011-01-12    0.712084
dtype: float64

In [28]:
type(ts)
# note: output changed to "pandas.core.series.Series"

pandas.core.series.Series

In [29]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [30]:
ts + ts[::2]

2011-01-02   -0.485393
2011-01-05         NaN
2011-01-07   -5.464959
2011-01-08         NaN
2011-01-10   -2.074400
2011-01-12         NaN
dtype: float64

In [31]:
ts.index.dtype
# note: output changed from dtype('datetime64[ns]') to dtype('<M8[ns]')

dtype('<M8[ns]')

In [32]:
stamp = ts.index[0]
stamp
# note: output changed from <Timestamp: 2011-01-02 00:00:00> to Timestamp('2011-01-02 00:00:00')

Timestamp('2011-01-02 00:00:00')

## インデックス化、選択、サブセット化

In [33]:
stamp = ts.index[2]
ts[stamp]

-2.732479543317794

In [34]:
ts['1/10/2011']

-1.0371999441838196

In [35]:
ts['20110110']

-1.0371999441838196

In [36]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.116709
2000-01-02    0.182654
2000-01-03    0.271792
2000-01-04    0.497028
2000-01-05   -0.693413
2000-01-06    0.392513
                ...
2002-09-21    0.188501
2002-09-22   -1.423178
2002-09-23    1.234805
2002-09-24    0.155826
2002-09-25   -0.572800
2002-09-26    0.090055
Freq: D, Length: 1000, dtype: float64

In [37]:
longer_ts['2001']

2001-01-01    0.786274
2001-01-02   -1.172511
2001-01-03    1.103214
2001-01-04    0.126265
2001-01-05   -0.539227
2001-01-06   -1.961500
                ...
2001-12-26   -0.897643
2001-12-27   -0.441114
2001-12-28    0.482679
2001-12-29   -0.833639
2001-12-30    0.123197
2001-12-31   -1.078381
Freq: D, Length: 365, dtype: float64

In [38]:
longer_ts['2001-05']

2001-05-01   -0.904348
2001-05-02   -1.082562
2001-05-03    0.073779
2001-05-04   -1.264585
2001-05-05    0.134372
2001-05-06   -0.554372
                ...
2001-05-26   -0.199763
2001-05-27    0.938398
2001-05-28   -0.218142
2001-05-29    0.868843
2001-05-30    0.566777
2001-05-31   -0.368052
Freq: D, Length: 31, dtype: float64

In [39]:
ts[datetime(2011, 1, 7):]

2011-01-07   -2.732480
2011-01-08   -1.157207
2011-01-10   -1.037200
2011-01-12    0.712084
dtype: float64

In [40]:
ts

2011-01-02   -0.242696
2011-01-05   -0.473932
2011-01-07   -2.732480
2011-01-08   -1.157207
2011-01-10   -1.037200
2011-01-12    0.712084
dtype: float64

In [41]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -2.732480
2011-01-08   -1.157207
2011-01-10   -1.037200
dtype: float64

In [42]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.242696
2011-01-05   -0.473932
2011-01-07   -2.732480
2011-01-08   -1.157207
dtype: float64

In [48]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])
# long_df.ix['5-2001']
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.738255  0.527113 -0.219399 -0.782202
2001-05-09  0.951313  1.125733 -0.353899  0.252909
2001-05-16  2.254788  0.532197  1.964586  1.751157
2001-05-23  0.983271  1.913459 -0.674841  0.844856
2001-05-30 -0.034764  0.253567  0.170725  0.723902

## 重複インデックスをもつ時系列データ

In [49]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [50]:
dup_ts.index.is_unique

False

In [51]:
dup_ts['1/3/2000']  # not duplicated　重複してない

4

In [52]:
dup_ts['1/2/2000']  # duplicated　重複

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [53]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [54]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 日付範囲、頻度、およびシフト

In [55]:
ts

2011-01-02   -0.242696
2011-01-05   -0.473932
2011-01-07   -2.732480
2011-01-08   -1.157207
2011-01-10   -1.037200
2011-01-12    0.712084
dtype: float64

In [64]:
ts.resample('D') #時系列データの頻度調整

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [59]:
daily = ts.resample('D', loffset='12H').mean() #12:00に固定
daily

2011-01-02 12:00:00   -0.242696
2011-01-03 12:00:00         NaN
2011-01-04 12:00:00         NaN
2011-01-05 12:00:00   -0.473932
2011-01-06 12:00:00         NaN
2011-01-07 12:00:00   -2.732480
2011-01-08 12:00:00   -1.157207
2011-01-09 12:00:00         NaN
2011-01-10 12:00:00   -1.037200
2011-01-11 12:00:00         NaN
2011-01-12 12:00:00    0.712084
Freq: D, dtype: float64

### 日付範囲の生成

In [57]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(start='4/1/2012', periods=20) #periods:内部に含まれる要素の数

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM') #freq:生成する要素ごとに変化させる時間単位/周期

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [ ]:
#freq
# Alias	Description
# B	business day frequency
# C	custom business day frequency (experimental)
# D	calendar day frequency
# W	weekly frequency
# M	month end frequency
# SM	semi-month end frequency (15th and end of month)
# BM	business month end frequency
# CBM	custom business month end frequency
# MS	month start frequency
# SMS	semi-month start frequency (1st and 15th)
# BMS	business month start frequency
# CBMS	custom business month start frequency
# Q	quarter end frequency
# BQ	business quarter endfrequency
# QS	quarter start frequency
# BQS	business quarter start frequency
# A	year end frequency
# BA	business year end frequency
# AS	year start frequency
# BAS	business year start frequency
# BH	business hour frequency
# H	hourly frequency
# T, min	minutely frequency
# S	secondly frequency
# L, ms	milliseconds
# U, us	microseconds
# N	nanoseconds

In [70]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True) #normalize:時刻部分を丸める

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 周波数と日付のオフセット

In [72]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [73]:
four_hours = Hour(4)
four_hours

In [74]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [75]:
Hour(2) + Minute(30)

In [76]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 月の日付の週

In [77]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## シフト（先行および遅れ）データ

In [78]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.594362
2000-02-29    1.747225
2000-03-31   -1.535501
2000-04-30   -0.506731
Freq: M, dtype: float64

In [79]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.594362
2000-04-30    1.747225
Freq: M, dtype: float64

In [80]:
ts.shift(-2)

2000-01-31   -1.535501
2000-02-29   -0.506731
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [81]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    1.939667
2000-03-31   -1.878823
2000-04-30   -0.669990
Freq: M, dtype: float64

In [82]:
ts.shift(2, freq='M')

2000-03-31    0.594362
2000-04-30    1.747225
2000-05-31   -1.535501
2000-06-30   -0.506731
Freq: M, dtype: float64

In [83]:
ts.shift(3, freq='D')

2000-02-03    0.594362
2000-03-03    1.747225
2000-04-03   -1.535501
2000-05-03   -0.506731
dtype: float64

In [84]:
ts.shift(1, freq='3D')

2000-02-03    0.594362
2000-03-03    1.747225
2000-04-03   -1.535501
2000-05-03   -0.506731
dtype: float64

In [85]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.594362
2000-02-29 01:30:00    1.747225
2000-03-31 01:30:00   -1.535501
2000-04-30 01:30:00   -0.506731
Freq: M, dtype: float64

### オフセットで日付をシフトする

In [86]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [87]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [88]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [89]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [90]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [91]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.212760
2000-02-29   -0.100874
2000-03-31   -0.497189
dtype: float64

In [95]:
# ts.resample('M', how='mean')
ts.resample('M').mean()

2000-01-31   -0.212760
2000-02-29   -0.100874
2000-03-31   -0.497189
Freq: M, dtype: float64

# タイムゾーンの処理

In [96]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [97]:
tz = pytz.timezone('US/Eastern') #タイムゾーン
tz

## ローカリゼーションと変換

In [98]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

In [99]:
print(ts.index.tz)

None

In [100]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [101]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.256832
2012-03-10 09:30:00+00:00   -0.960865
2012-03-11 09:30:00+00:00    0.915522
2012-03-12 09:30:00+00:00    2.036795
2012-03-13 09:30:00+00:00    0.031333
2012-03-14 09:30:00+00:00   -1.076840
Freq: D, dtype: float64

In [102]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [103]:
ts_utc.tz_convert('US/Eastern') #タイムゾーンの変更

2012-03-09 04:30:00-05:00    0.256832
2012-03-10 04:30:00-05:00   -0.960865
2012-03-11 05:30:00-04:00    0.915522
2012-03-12 05:30:00-04:00    2.036795
2012-03-13 05:30:00-04:00    0.031333
2012-03-14 05:30:00-04:00   -1.076840
Freq: D, dtype: float64

In [104]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.256832
2012-03-10 14:30:00+00:00   -0.960865
2012-03-11 13:30:00+00:00    0.915522
2012-03-12 13:30:00+00:00    2.036795
2012-03-13 13:30:00+00:00    0.031333
2012-03-14 13:30:00+00:00   -1.076840
Freq: D, dtype: float64

In [105]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.256832
2012-03-10 15:30:00+01:00   -0.960865
2012-03-11 14:30:00+01:00    0.915522
2012-03-12 14:30:00+01:00    2.036795
2012-03-13 14:30:00+01:00    0.031333
2012-03-14 14:30:00+01:00   -1.076840
Freq: D, dtype: float64

In [106]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

## タイムゾーン対応タイムスタンプオブジェクトの操作

In [107]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [108]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [109]:
stamp_utc.value

1299902400000000000

In [110]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [111]:
# 30 minutes before DST transition
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [112]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [113]:
# 90 minutes before DST transition
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [114]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## 異なるタイムゾーン間の操作

In [115]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -0.766927
2012-03-08 09:30:00   -0.801087
2012-03-09 09:30:00    0.050446
2012-03-12 09:30:00   -0.175820
2012-03-13 09:30:00    0.423741
2012-03-14 09:30:00   -1.014920
2012-03-15 09:30:00   -0.652220
2012-03-16 09:30:00    0.362181
2012-03-19 09:30:00   -0.284359
2012-03-20 09:30:00    0.824937
Freq: B, dtype: float64

In [116]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## 期間と期間の算術

In [117]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [118]:
p + 5

Period('2012', 'A-DEC')

In [119]:
p - 2

Period('2005', 'A-DEC')

In [120]:
pd.Period('2014', freq='A-DEC') - p

7

In [121]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [122]:
Series(np.random.randn(6), index=rng)

2000-01    0.253115
2000-02    1.697162
2000-03   -0.934456
2000-04    0.238738
2000-05    0.111175
2000-06   -1.043685
Freq: M, dtype: float64

In [123]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## Period Frequency Conversion

In [124]:
p = pd.Period('2007', freq='A-DEC')
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [125]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [126]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [127]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [128]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [129]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.856705
2007   -0.047759
2008    1.789787
2009   -0.945454
Freq: A-DEC, dtype: float64

In [130]:
ts.asfreq('M', how='start')

2006-01   -0.856705
2007-01   -0.047759
2008-01    1.789787
2009-01   -0.945454
Freq: M, dtype: float64

In [131]:
ts.asfreq('B', how='end')

2006-12-29   -0.856705
2007-12-31   -0.047759
2008-12-31    1.789787
2009-12-31   -0.945454
Freq: B, dtype: float64

### 四半期期間

In [132]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')