In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# DataFrameを生成

In [47]:
df = pd.DataFrame(np.arange(12).reshape(4,3)
                  , columns=["col1", "col2", "col3"]
                 , index=["r1","r2","r3","r4"])

In [48]:
df

    col1  col2  col3
r1     0     1     2
r2     3     4     5
r3     6     7     8
r4     9    10    11

## 列名が同じ部分を演算する

In [49]:
df2 = pd.DataFrame(np.arange(12).reshape(4,3)
                  , columns=["col4", "col5", "col5"]
                 , index=["r1","r2","r3","r4"])

In [50]:
df + df2

    col1  col2  col3  col4  col5  col5
r1   NaN   NaN   NaN   NaN   NaN   NaN
r2   NaN   NaN   NaN   NaN   NaN   NaN
r3   NaN   NaN   NaN   NaN   NaN   NaN
r4   NaN   NaN   NaN   NaN   NaN   NaN

In [51]:
df.columns = df2.columns

In [52]:
df + df2

    col4  col5  col5
r1     0     2     4
r2     6     8    10
r3    12    14    16
r4    18    20    22

## indexは勝手に増える

In [53]:
df.index.name = "name"

In [54]:
df

      col4  col5  col5
name
r1       0     1     2
r2       3     4     5
r3       6     7     8
r4       9    10    11

# Seriesだけ抜き取る

In [27]:
df["col1"]

r1    0
r2    3
r3    6
r4    9
Name: col1, dtype: int64

# numpyへ

In [28]:
df.values

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [29]:
df.iloc[3,0]

9